[Unit]
Description=NATS messaging server

[Service]
ExecStart=/opt/nats/nats-server
User=nats
Restart=on-failure

[Install]
WantedBy=multi-user.target